# Python caches
__pycache__/
*.py[cod]

# Colab / Jupyter checkpoints
.ipynb_checkpoints/

# DO NOT UPLOAD THESE HUGE MODEL FILES
interview-assistant-results/
interview-assistant-lora/
runs/
*.safetensors
*.bin
